* {
    margin: 0;
    padding: 0;
}

#form {
    min-height: 200px;
    max-height: 100%;
    height: auto;
    width: 800px;
}

body {
    width: 99.2vw;
    height: 99.2vh;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;
}

body.light-theme {
    background-color: white;
    color: black;

    input {
        color: black;
        background-color: white;
        transition: 0.3s ease;
    }

}

body.dark-theme {
    background-color: rgb(55, 55, 55);
    color: white;

    input {
        color: white;
        background-color: rgb(55, 55, 55);
        transition: 0.3s ease;
    }
}

.theme_image_light {
    display: flex;
    justify-self: center;
    width: 22px;
    height: 22px;
    background-image: url(photos/moon.svg);
}

.theme_image_dark {
    display: flex;
    justify-self: center;
    width: 22px;
    height: 22px;
    background-image: url(photos/sun.svg);
}

*:focus {
    outline: none;
}

main {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 780px;
    height: 100%;
    position: fixed;
    gap: 500px;
}

#maintext {
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 26px;
    height: 50px;

}

#finder-light {
    width: 595px;
    height: 38px;
    border-radius: 5px;
    border: 2px solid #6C63FF;
}

#finder-dark {
    width: 595px;
    height: 38px;
    border-radius: 5px;
    border: 2px solid #6C63FF;
    background-color: black;
    color: white;
}

#btnfind {
    width: 21px;
    height: 21px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    right: 40px;
    top: 5px;
}

#spisok {
    width: 85px;
    height: 38px;
    background-color: #6C63FF;
    border-radius: 5px;
    border: none;
    color: #fff;
}

#themeToggle {
    cursor: pointer;
    background-color: #6C63FF;
    border-radius: 5px;
    width: 38px;
    height: 38px;
    border: none;
    position: relative;
    top: 5px;
}

#ThemeIcon {
    transition: transform 0.3s ease;
}

#ThemeIcon:hover {
    transform: scale(1.1);
}

.task {
    display: flex;
    flex-direction: column;
    width: 26px;
    height: 26px;
    accent-color: #6C63FF;
}

.tasklist {
    width: 525px;
    height: 70px;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
}


.task_text {
    cursor: pointer;
    user-select: none;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-weight: medium;
}

.task_text {
    color: inherit;
}

.task:checked+.task_text {
    text-decoration: line-through;
    color: #878787;
}

.task_text.completed {
    text-decoration: line-through;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

hr {
    width: 520px;
    background-color: #6C63FF;
    height: 1px;
    border: none;

}

.modale_window {
    width: 500px;
    height: 289px;
    background-color: #f7f7f7;
    border-radius: 16px;
    display: none;
    z-index: 100;
    position: absolute;
    top: 15vw;
    left: 37%;
}

.background_box {
    left: 0px;
    position: absolute;
    display: none;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
}

#add_task {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: none;
    background-color: #6C63FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_task:hover {
    transform: scale(1.05);
    background-color: #433ea3;
    transition: ease 1s;
    cursor: pointer;
}

#modale_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    max-height: 289px;
}

#task_name {
    width: 440px;
    height: 38px;
}

#task_name {
    border-radius: 5px;
    border: 2px solid #6C63FF;
    color: #000000;
    padding-left: 10px;
}

#buttons_box {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 200px;
    width: 440px;
    height: 50px;
}

#cancel {
    background-color: none;
    color: #6C63FF;
    border: 1px solid #6C63FF;
    width: 110px;
    height: 38px;
    border-radius: 8px;
}

#apply {
    background-color: #6C63FF;
    color: white;
    width: 110px;
    height: 38px;
    border-radius: 8px;
    border: none;
}

#apply:hover {
    transform: scale(1.05);
    background-color: #433ea3;
    transition: ease 1s;
    cursor: pointer;
}

#cancel:hover {
    transform: scale(1.05);
    background-color: #b8b8b8;
    transition: ease 1s;
    cursor: pointer;
}

.box_for_tasks {
    height: auto;
    width: 525px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 120px;
}

#empty {
    width: 221px;
    height: 174px;
    display: flex;
    position: relative;
    left: 140px;
}

#emt_txt{
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    text-align: center;
}

.note_actions {
    display: flex;
    justify-content: right;
    width: 500px;
}

.edit-btn {
    cursor: pointer;
    border: none;
    background-color: white;
}

.delete-btn {
    cursor: pointer;
    border: none;
    background-color: white;
}